html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#game {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 80%;
  /* height: 80rem; */
}